@use '../../utils/scss/variables';

.logo {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: variables.$primary-color;

  img {
    width: 70px;
    margin-right: 7px;
  }

  span {
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
  }
}