@use './variables';
@import '~bootstrap/scss/bootstrap';

body {
  font-family: Roboto, sans-serif;
  color: variables.$primary-color;
}

.wrapper {
  padding-top: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 25px;
}

h3 {
  font-size: 15px;
}