@use '../../utils/scss/variables';

.Header {
  padding: 10px 0;

  &-Row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-Actions {
    display: flex;
    gap: 10px;
    font-size: 14px;

    a {
      color: variables.$primary-color;

      &:hover {
        text-decoration: none;
      }
    }
  }
}